# Client keys (public)
NEXT_PUBLIC_SUPABASE_URL=https:sb_publishable_JXSVvx-pyajrfnE4oMvl8g_Ct6VviKC
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6Impva2Rwd2RoZnVheG9xa2Fudmp5Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODY0MjQwMzgsImV4cCI6MjEwMjAwMDAzOH0.-p5sT7-mzVCkKcXQ2nFmo4mkMCy_vCMZVYqT5knq2fU

# Server-only (DO NOT expose)
SUPABASE_SERVICE_ROLE_KEY=sb_secret_bzfLZjjOe4q6DEXDRy3ppQ_bpJbrkIx

# Admin password for quick MVP (choose a strong one)
ADMIN_PASSWORD=YourStrongAdminPassword123!
